@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

:root {
  --1: #070439;
  --2: #585989;
  --3: #3065f8;
  --4: #3c9f8f;
  --5: #f6f6fe;
  --6: #bfbfbf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}
